
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


*{
margin: 0;
padding: 0;
box-sizing: border-box;

}

html{
font-size: 62.5%;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight:400;
  font-style: normal;

}

body{
background-color:var(--black);
color: var(--white);

}
@font-face {
font-family: futurak;
src: url(futurak.ttf );



}



:root{
--white:#ffffff;    
--black: #000000;
--red: #eb3238 ;
--light-gray:#e0e0e0;
--green:#28a745 ;

}


.parent{
margin-top: 6px;
display: flex;
justify-content: space-around;
align-items:center;
flex-wrap: wrap;

}




.logo-image{
width: 165px;
margin-top: 3px;




}

.navbar-items{
display: flex;
flex-wrap: wrap;
gap: 16px;

}


.nav-item{
margin-top: 30px;
text-decoration: none;
font-size: 1.7rem;
color: var(--white);
flex-wrap: wrap;
}






.website-btn1{
font-size: 1.4rem;
padding: 14px;
margin-left: 11px;
border: 1px solid white;
background-color: black;
color: aliceblue;
border-radius: 30px;

}
.website-btn2{
font-size: 1.4rem;
padding: 14px;
border:none;
background-color:#ff0000;
color: aliceblue;
border-radius: 30px;


}

.icon-span{
background-color: var(--white);
padding: 5px 6px;
border-radius: 24px;
color: var(--red);
}




.carousel-image{
width: 100%;
display: flex;
flex-wrap: wrap;



}

.our-website-heading{
color: var(--white);
text-align: center;
margin-top: 50px;
font-size: 4rem;


}
.font-heading{
font-family:futurak;
font-size: 5.2rem;


}


.our-website-para{
color:var(--light-gray);
text-align: center;
font-size: 1.5rem;


}


.website-childrens{
display: flex;
flex-wrap: wrap;
flex-direction: row;
justify-content: center;
align-items: center;
margin-top: 40px;
margin-left: 189px;
gap:0px;

}

.child{
   display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}

.children-image{
width:280px;
padding: 20px;
background-color: var(--white);
border-radius: 5px;
margin: -80px;

   
}

.children-image4{
width: 250px;
height: 300px;
padding:20px;
    background-color: var(--white);
    border-radius: 5px;
    height: 140px;
    margin: -80px;
}






.btn4{
margin-top: 30px;
border:2px solid var(--white);
background-color: var(--black);
color: var(--white);
font-size: 1.7rem;
padding: 17px ;
padding-left: 50px;
padding-right: 50px;
border-radius: 50px;
position: relative;
top: 110px;
right: 130px;

}
.btn3{
margin-top: 30px;
border:2px solid var(--white);
background-color: var(--black);
color: var(--white);
font-size: 1.7rem;
padding: 17px ;
padding-left: 30px;
padding-right: 30px;
border-radius: 50px;
position: relative;
top: 110px;
right: 159px;







}


.btn2{
margin-top: 30px;
border:2px solid var(--white);
background-color: var(--black);
color: var(--white);
font-size: 1.7rem;
padding: 17px ;
padding-left: 50px;
padding-right: 50px;
border-radius: 50px;
position: relative;
top: 110px;
right: 160px;

}








.our-website-heading2{
color: var(--white);
text-align: center;
margin-top: 200px;
font-size: 4rem;
bottom: -50px auto;
}






.font-heading2{
font-family:futurak;
font-size: 5.2rem;





}


.website-btn5{
margin-top: 30px;
border:2px solid var(--white);
background-color: var(--black);
color: var(--white);
font-size: 1.7rem;
padding: 15px ;
padding-left: 30px;
padding-right: 30px;
border-radius: 50px;
position: relative;
right: 210px;
bottom: 40px;

}








.our-website-para2{
color:var(--light-gray);
text-align: center;
font-size: 1.5rem;






}





.branches-container{
display: flex;
flex-direction: row;
flex-wrap: wrap;
justify-content: center;
gap: 100px;

}

.item-location{
margin-top:-50px;



}



.item-image{
align-self:flex-end;
width: 300px;
position: relative;
right: 100px;
border-radius: 10px;


}

.area-btn{
margin-top: 30px;
border:2px solid var(--white);
background-color: var(--black);
color: var(--white);
font-size: 1.7rem;
padding: 15px ;
padding-left: 30px;
padding-right: 30px;
border-radius: 50px;
position: relative;
right: 210px;
bottom: 40px;
}


.our-website-heading3{
color: var(--white);
margin-top: 200px;
font-size: 4rem;

}

.font-heading3{
font-family:futurak;
font-size: 3.7rem;
  position: relative;
bottom: 40px;
right: 200px;

}

.branch-location1{
color: var(--red);
font-weight: 100;
font-size: 2.5rem;
  position: relative;
bottom: 60px;
right: 200px;


}

.Restaurant{
color: var(--white);
font-size: 3rem;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight:400;
  font-style: normal;
}



.our-website-para3{
color:var(--light-gray);
font-size: 1.5rem;
  position: relative;
bottom: 60px;
right: 200px;

}
.para4{
color:var(--light-gray);
font-size: 1.5rem;
  position: relative;
bottom: 70px;
right: 200px;

}



.our-website-image1{
  width: 600px;
margin-top: 30px;
position: relative;
left: 150px;


}





.item-location3{
position: relative;
left: 1000px;
bottom: 510px;

}






.our-website-heading6{
color: var(--white);
margin-top: 200px;
font-size: 4rem;




}

.font-heading6{
font-family:futurak;
font-size: 3.7rem;

}

.Restaurant2{
color: var(--white);
font-size: 3rem;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight:400;
  font-style: normal;


}

.para6{
color:var(--light-gray);
font-size: 1.5rem;




}


.our-website-para6{
color:var(--light-gray);
font-size: 1.5rem;




}

.branch-location6{
color: var(--red);
font-weight: 100;
font-size: 2.5rem;




}

.area-btn06{
margin-top: 30px;
border:2px solid var(--white);
background-color: var(--black);
color: var(--white);
font-size: 1.7rem;
padding: 15px ;
padding-left: 30px;
padding-right: 30px;
border-radius: 50px;



}


.adjust-box3{
position: relative;
bottom: 500px;
left: 130px;


}











.our-website-heading9{
color: var(--white);
margin-top: 200px;
font-size: 4rem;




}




.font-heading9{
font-family:futurak;
font-size: 3.7rem;




}




.Restaurant9{
color: var(--white);
font-size: 3rem;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight:400;
  font-style: normal;


}




.para9{
color:var(--light-gray);
font-size: 1.5rem;




}





.our-website-para9{
color:var(--light-gray);
font-size: 1.5rem;




}






.branch-location9{
color: var(--red);
font-weight: 100;
font-size: 2.5rem;




}



.website-btn9{
margin-top: 30px;
border:2px solid var(--white);
background-color: var(--black);
color: var(--white);
font-size: 1.7rem;
padding: 15px ;
padding-left: 30px;
padding-right: 30px;
border-radius: 50px;



}
.express-heading{
  font-size: 4rem;
  font-weight: 400;
  text-align: center;
  position: relative;
  right: 100px;
  top: 80px;
}
.parrent1{

position: relative;
top: 200px;
right: 120px;
display: flex;
justify-content: center;
flex-wrap: wrap;

}
.box1-heading{
  font-size: 2rem;
  font-weight: 500;
  position: relative;
  top: 20px;
}
.font-heading6{
  font-size: 2.2rem;
  
}
.area1{
  font-size: 1.5rem;
  color: var(--red);
  position: relative;
  right: 340px;
  top: 20px;
}
.location{
font-size: 1.5rem;
color: var(--light-gray);
position: relative;
top: 30px;
}
.content-num{
font-size: 1.5rem;
color: var(--light-gray);
position: relative;
top: 40px;
left: 80px;
}
.box1-btn{
  font-size: 1.4rem;
padding: 14px;

background-color: var(--black);
border-color: var(--white);
color: aliceblue;
border-radius: 30px;
position: relative;
top: 70px;
left: 70px;
}
.box2-btn{
 font-size: 1.4rem;
padding: 14px;

background-color: var(--black);
border-color: var(--white);
color: aliceblue;
border-radius: 30px;
position: relative;
top: 50px;
right: 150px;
}
.box3-btn{
 font-size: 1.4rem;
padding: 14px;

background-color: var(--black);
border-color: var(--white);
color: aliceblue;
border-radius: 30px;
position: relative;
top: 50px;
right: 150px;
}
.parrent2{
  display: flex;
  position: relative;
  top: 350px;
 left: 170px;
 flex-wrap: wrap;
}
.parrent3{
  display: flex;
  position: relative;
  top: 500px;
  left: 170px;
  flex-wrap: wrap;
}
.parrent3-img{
  width: 356px;
}
.parrent3-image{
  max-width: 306px;
}
.area3{
  font-size: 1.5rem;
  color: var(--red);
  position: relative;
  right: 300px;
  top: 20px;
}



.Village-Franchise-location{
color: var(--red);



}



.font-heading09{
font-family:futurak;
font-size: 5.7rem;
position: relative;
left: 700px;
top: 230px;

}

.heading2{
font-size: 3.3rem;
position: relative;
top: 188px;
left: 1030px;
bottom: 50px;

}






.container-Village-Franchise{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
flex-wrap: wrap;

}

.img{
 width: 120%;
position: relative;
top: 290px;
right: 620px;



}

.Village-Franchise-location{
position: relative;
left: 200px;
bottom: 100px;
left: 250px;


}

.Village-Franchise-para{
position: relative;
left: 250px;
bottom: 100px;

} 





.location5{
position: relative;
bottom: 100px;
left: 250px;


}









.btn{
border:1px solid var(--green);
background-color: var(--green);
color: var(--white);
font-size: 1.7rem;
padding: 17px;
padding-left: 30px;
padding-right: 30px;
border-radius: 50px;
position: relative;
top: 30px;
right: 18px;
}

.button-child{
position: relative;
bottom: 90px;
left: 85px;


}

.btn:hover{
background-color:#000000;




}

.font-heading6{
font-size: 3rem;



}


.Village-Franchise-contect-num{
position: relative;
left: 250px;
bottom: 100px;
font-size: 1.3rem;
color: var(--light-gray);



}




.heading2{
font-size: 3rem;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
color: var(--white);


}










.ExpressFranchises-font{
font-family:futurak;
font-size: 5.7rem;
position: relative;
left: 1px;
left: 100px;
top: 380px;
text-align: center;




}

.ExpressFranchises-heading{
color: var(--white);
font-family: sans-serif;
position: relative;
top: 380px;
left: 710px;
font-size: 4rem;

}



.spn{
font-size: 3rem;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
color: var(--white);





}

.franchise-section1{
display: flex;
flex-direction: row;
justify-content: center;
align-items: flex-end;
gap: 10px;
flex-wrap: wrap;
margin-top: 400px;
margin-left: 180px;



}




/* franchise-section-card1 */

.franchise-section-card1{
background-color: aliceblue;
width: 400px;
height: 240px;
border-radius: 7px;

}



.franchise-section-card2{
background-color: aliceblue;
width: 400px;
height: 240px;
border-radius: 7px;


}
.franchise-section-card3{
background-color: aliceblue;
width: 400px;
height: 240px;
border-radius: 7px;

}

/* franchise-section-card1 */

/* franchise-section-card2 */

.franchise-section2{
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
gap: 10px;
flex-wrap: wrap;
margin-top: 10px;
margin-left: 180px;




}








.franchise-section-card4{
background-color: aliceblue;
width: 400px;
height: 240px;
border-radius: 7px;


}
.franchise-section-card5{
background-color: aliceblue;
width: 400px;
height: 240px;
border-radius: 7px;


}
.franchise-section-card6{
background-color: aliceblue;
width: 400px;
height: 240px;
border-radius: 7px;


}

/* franchise-section-card2 */


/* franchise-section-card3 */

.franchise-section3{
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
gap: 10px;
flex-wrap: wrap;
margin-top: 10px;
margin-left: 180px;



}





.franchise-section-card7{
background-color: aliceblue;
width: 400px;
height: 240px;
border-radius: 7px;


}
/* franchise-section-card3 */

.logo-location{
position: relative;
left: 170px;
top: 20px;



}

.spn-card{
color: var(--red);
font-family: 'Times New Roman', Times, serif;
font-size: 1.2rem;
font-weight: 600;
position: relative;
left: 80px;
top: 50px;

}



.Burewala{
color: var(--black);
font-family: 'Times New Roman', Times, serif;
font-size: 3rem;
position: relative;
left: 80px;
top: 40px;


}
.Express{
color: var(--black);
font-family: 'Times New Roman', Times, serif;
font-size: 2.3rem;
font-weight: 200;




}

.para-Burewala{
color: var(--black);
font-family: 'Times New Roman', Times, serif;
font-size: 2.3rem;
font-weight: 200;
position: relative;
left: 160px;
top: 40px;



}


.para-Rawalpindi{

color: var(--black);
font-family: 'Times New Roman', Times, serif;
font-size: 2.3rem;
font-weight: 200;
position: relative;
left: 120px;
top: 30px;





}

.para-Sharqpur{
color: var(--black);
font-family: 'Times New Roman', Times, serif;
font-size: 2.3rem;
font-weight: 200;
position: relative;
left: 120px;
top: 30px;




}





.para-Rawalpindi2{
color: var(--black);
font-family: 'Times New Roman', Times, serif;
font-size: 2.3rem;
font-weight: 200;
position: relative;
left: 150px;
top: 40px;





}


.Sadhoke{
color: var(--black);
font-family: 'Times New Roman', Times, serif;
font-size: 2.3rem;
font-weight: 200;
position: relative;
left: 120px;
top: 30px;





}
.para-Sheikhupura{
color: var(--black);
font-family: 'Times New Roman', Times, serif;
font-size: 2.3rem;
font-weight: 200;
position: relative;
left: 150px;
top: 40px;




}


.para-Sheikhupura2{
color: var(--black);
font-family: 'Times New Roman', Times, serif;
font-size: 2.3rem;
font-weight: 200;
position: relative;
left: 130px;
top: 30px;





}


.para-Okara{
color: var(--black);
font-family: 'Times New Roman', Times, serif;
font-size: 2.3rem;
font-weight: 200;
position: relative;
left: 170px;
top: 60px;





}







.para-Kharian{
color: var(--black);
font-family: 'Times New Roman', Times, serif;
font-size: 2.3rem;
font-weight: 200;
position: relative;
left: 170px;
top: 60px;



}




.section-Social-Feed{
display: flex;
flex-direction: row;
margin-left: 200px;
margin-top: 200px;
gap: 20px;

  
}







.Social1{
width: 300px;





} 

.Social2{
width: 305px;





} 
.Social3{
width: 300px;





} 
.Social4{
width: 300px;
height: 300px;




} 

.Social5{
width: 300px;





} 







.Social-Feed-heading{
font-family: 'Times New Roman', Times, serif;
font-size: 4rem;
position: relative;
top: 160px;
left: 905px;


}








.section-footer{
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
flex-wrap: wrap;
width: 100%;
height: 80vh;

position: relative;
left: 20px;
gap: 50px;





}


.para-policy{
color:var(--light-gray);
margin: 30px;
line-height: 1.4;
font-family: "Inter", sans-serif;
font-size: 1.5rem;
font-weight: 400;


}



.terms{
font-size: 1.5rem;
text-decoration: none;
font-family: "Inter", sans-serif;
font-weight: 400;
position: relative;
left: 30px;
color: var(--light-gray);
margin: 10px;
}

.Privacy-logo{
position: relative;
left: 30px;




}

.links-heading{
font-size: 1.7rem;
font-family: "Inter", sans-serif;
font-weight: 500;


}




.links{
  text-decoration: none;
  font-family: "Inter", sans-serif;
font-size: 1.5rem;
color: var(--light-gray);
font-weight: 500;
line-height: 3.2;

}

.ContactUs-heading1{
  color: var(--light-gray);
font-size: 1.7rem;
font-family: "Inter", sans-serif;
font-weight: 400;



}

.ContactUs-heading2{
font-size: 1.7rem;
font-family: "Inter", sans-serif;
font-weight: 500;
line-height: 2.5;


}



.ContactUs-para{
font-size: 1.5rem;
font-family: "Inter", sans-serif;
font-weight: 300;





}

.head-office-number{
  color: var(--white);
font-size: 1.8rem;
font-family: "Inter", sans-serif;
font-weight: 400;
margin-top: 10px;


}

.head-office-number{
  color: var(--light-gray);
font-size: 1.5rem;
text-decoration: none;
font-family: "Inter", sans-serif;
font-weight: 400;
line-height: 1.7;




}
.Email-Address-heading{
font-size: 1.7rem;
font-family: "Inter", sans-serif;
font-weight: 500;
line-height: 1.7;



}

.Email{
text-decoration: none;
font-family: "Inter", sans-serif;
color:var(--light-gray);
font-size: 1.5rem;
font-weight: 500;
line-height: 1.7;

}



.delivery-heading{
font-size: 1.7rem;
font-family: "Inter", sans-serif;
font-weight: 500;
line-height: 1.7;




}

.delivery-number{
font-size: 1.5rem;
text-decoration: none;
font-family: "Inter", sans-serif;
font-weight: 400;
line-height: 1.7;
color: var(--light-gray);




}

.Follow-us{
position: relative;
bottom: 150px;



}







.Follow-us-heading{
font-size: 1.7rem;
font-family: "Inter", sans-serif;
font-weight: 400;
/* line-height: 3.4; */
position: relative;
top: 30px;

}

.social-link{
text-decoration: none;
color: var(--red);
font-size: 3.7rem;
position: relative;
top: 40px;

}

.app-store{
text-decoration: none;
margin-top: 20px;
margin: 6px;
position: relative;
top: 30px;

}
.google-store{
text-decoration: none;
margin-top: 20px;
margin: 6px;
position: relative;
top: 60px;





}

.snp-main{
display: flex;
justify-content: space-between;

}

.spn-2025{
font-size: 1.7rem;
color:var(--light-gray);
position: relative;
left: 290px;
bottom: 10px;
}

.spn-2025{
color: var(--light-gray);
font-weight: 400;

}







.tossdown{
text-decoration: none;
color: var(--light-gray);
font-family: "Inter", sans-serif;
font-size: 1.3rem;
font-weight: 400;
position: relative;
right: 400px;
top: 3px;
}


